/* pdp-product-info */
main .section.product-detail-banner-container.pdp-product-info-container {
  display: flex;

  /* max-width: var(--container-max-width); */
  padding: 100px calc((100% - var(--container-max-width)) / 2 + 24px);
  margin: auto;
  box-sizing: border-box;
  gap: 82px;
}

main .section.product-detail-banner-container.pdp-product-info-container .product-detail-banner-wrapper {
  padding: 0;
  margin: 0;
}

main .section.product-detail-banner-container.pdp-product-info-container .pdp-product-info-wrapper {
  flex: 1;
  padding: 0;
  margin: 0;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width < 860px) {
    max-width: 100%;
    width: 100%;
    justify-content: start;
  }
}

.pdp-product-info {
  width: 100%;
}

.pdp-info {
  flex: 1;
  min-width: 300px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.pdp-favorite {
  margin-bottom: 20px;
  cursor: pointer;
}

.pdp-favorite img {
  height: 18px;
  width: 18px;
}

.pdp-series {
  color: rgb(0 132 130 / 100%);
  font-size: var(--size-20);
  font-weight: 500;
  line-height: 1.2;
}

.pdp-title {
  font-size: var(--heading-font-size-l);
  font-weight: 500;
	line-height: 1.3;
  margin: 4px 0 0;
  text-transform: uppercase;
}

.pdp-sizes {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 28px;
}

.pdp-size {
  padding: 0 8px;
  height: 25px;
  border: 1px solid rgb(204 204 204 / 100%);
  color: rgb(102 102 102 / 100%);
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pdp-size.selected {
  border-color: rgb(51 51 51 / 100%);
  color: rgb(51 51 51 / 100%);
}

.pdp-badges {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

.pdp-badges-mobile-group {
  display: none;
  flex-direction: column;
  margin-top: var(--size-32);
  
  .pdp-badges-mobile-title {
    text-transform: uppercase;
    font-size: var(--size-16);
    font-weight: 500;
  }

  .pdp-badges-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-8);
    justify-content: center;
    
    .badges-mobile-item {
      width: calc(104 / 390 * 100vw);
      height: calc(104 / 390 * 100vw);
      border-radius: var(--size-12);
      display: flex;
      padding: var(--size-16);
      background: #fff;
      
      .pdp-badge {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}

.pdp-badge {
  width: auto;
  min-width: 5px;
  height: 25px;
}

.pdp-badge img {
  height: 100%;
  display: block;
}

.pdp-btn-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pdp-buy-btn {
  height: 42px;
  padding: 0 24px;
  border: 1px solid #000;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 21px;
  color: #000;
  margin: 0;
}

.pdp-buy-btn:hover {
  background: #333;
  border-color: #666;
  color: #fff;
}

.pdp-buy-btn:active {
  background: #000;
  border-color: #000;
  color: #fff;
}

.pdp-specs-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: #000;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  font-weight: 400;
}

.pdp-specs-btn.hide {
  display: none;
}

.pdp-specs-btn:hover {
  background: transparent;
}

.pdp-specs-btn img {
  width: 18px;
  height: 18px;
}

.pdp-specs-btn span {
  height: 18px;
  line-height: 18px;
}

@media (width < 860px) {
  main .section.product-detail-banner-container.pdp-product-info-container{
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 64px 0;
  }
  
  .pdp-favorite {
    margin-bottom: var(--size-8);
  }

  .pdp-title {
    font-size: var(--size-30);
  }

  .pdp-badges {
    margin-bottom: var(--size-10);
    display: none;
  }

  .pdp-badges-mobile-group {
    display: flex;
    gap: var(--size-16);


    .pdp-badges-mobile {
      display: flex;
    }
  }

  .pdp-sizes{
    margin-bottom: var(--size-32);
    gap: var(--size-12);
    flex-wrap: wrap;
    
    .pdp-size {
      width: calc(54 / 390 * 100vw);
      height: calc(54 / 390 * 100vw);
      border-radius: var(--size-12);
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--size-20);
      line-height: 1.2;
    }
  }
  
  .pdp-info {
    padding: 0 var(--common-padding);
  }

  .pdp-info > * {
    padding: 0 var(--size-12);
  }
  
  .pdp-btn-group {
    .pdp-buy-btn {
      height: calc(60 / 390 * 100vw);
      border-radius: calc(100 / 390 * 100vw);
      font-size: var(--size-16);
      line-height: 1.5;
    }
  }
}
