.plp-products-box {
    flex: 1;
    height: 100%;
}

.plp-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-24);
}

.product-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius:var(--size-20);
    padding: var(--size-20);
}

[data-aue-model="product-card"].product-card >div:not(.plp-products-box) {
  display: none;
}

.plp-product-card {
  height: 100%;
}

.product-card-title {
  width: 100%;
  margin-bottom: var(--size-8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .product-card-tag {
    display: flex;
    align-items: center;
    font-size: var(--fontsize-caption1);
    background: var(--color-primary-green-50);
    padding: 0 var(--size-12);

    /* height: var(--size-24); */
    color: var(--color-primary-grey-10);
    border-radius: var(--radius-xl);
    line-height: var(--size-24);
  }

  .product-card-tag:empty {
    display: none;
  }
}

.plp-product-img {
  width: 100%;
  height: min(calc(188 / var(--breakpoint-pc) * 100vw), 188px);
  margin-bottom: var(--size-8);
  padding: 0 min(calc(11.3 / var(--breakpoint-pc) * 100vw), 11.3px);
  text-align: center;
  display: flex;
  align-items: center;
}

.plp-product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.plp-product-series {
    font-size: var(--size-14);
    font-weight: 400;
    color: rgb(0 132 130 / 100%);

    /* height: var(--size-20); */
    line-height: var(--size-21);
}

.plp-product-name {
    font-size: var(--size-20);
    font-weight: 400;
    line-height: var(--size-24);
    margin-bottom: var(--size-8);
}

.plp-product-sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--size-8);

    /* margin-top: 8px; */
    margin-bottom: var(--size-8);
}

.plp-product-size {
    /* padding: 4px 8px; */
    width: var(--size-32);
    height: var(--size-28);
    border: 1px solid var(--color-primary-grey-40);
    color: var(--color-primary-grey-50);
    border-radius: var(--size-6);
    font-size: var(--size-12);
    font-weight: 400;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: var(--size-28);
}

.plp-product-size.selected {
    border-color: var(--color-primary-grey-70);
    color: var(--color-primary-grey-70);
}

.product-card .plp-product-btn {
    display: inline-block;
    padding: 0 var(--size-16);
    border: 1px solid var(--color-primary-grey-70);
    border-radius: var(--size-15);
    background: transparent;
    color: rgb(0 0 0 / 100%);
    cursor: pointer;
    font-size: var(--size-12);
    font-weight: 400;
    height: var(--size-30);
    line-height: var(--size-30);
    text-decoration: none;
    margin-top: auto;
    align-self: flex-start;
}

.product-card .plp-product-btn:hover {
  background-color: #333;
  border-color: #666;
  color: #fff;
  text-decoration: none;
}

.product-card .plp-product-btn:active {
  background-color: #000;
  border-color: #000;
  color: #fff;
  text-decoration: none;
}

.plp-load-more {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.plp-load-more span {
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid rgb(0 0 0 / 100%);
}

.plp-products-box:has(.plp-products:empty) .plp-load-more  {
  display: none;
}

.plp-products-no-result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fontweight-book);
  font-size: var(--fontsize-body1);
  color: var(--color-primary-grey-50);
  height: 100%;
  line-height: 1.5;
}

@media (width < 860px) {
  main > .section > div.product-card-wrapper {
    padding: 0 !important;
    grid-column: 1 / -1;
  }

  .plp-products-box .plp-products {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-14);

    .product-card {
      padding: var(--size-16) var(--size-12);
      border-radius: var(--size-12);
      overflow: hidden;

      .plp-product-btn {
        width: 100%;
        height: var(--size-32);
        line-height: var(--size-32);
        text-align: center;
        border-radius: var(--size-16);
      }
    }

    .product-card-title {
      .product-card-tag {
        padding: 0 var(--size-8);
        height: var(--size-18);
        font-size: var(--size-10);
        line-height: var(--size-18);
      }
    }

    .plp-product-img {
      width: var(--size-144);
      height: var(--size-144);
      margin-bottom: var(--size-8);
    }

    .plp-product-series {
      font-size: var(--size-12);
    }

    .plp-product-name {
      font-size: var(--size-16);
      line-height: calc(20.8 / var(--breakpoint-mobile) * 100vw);
    }

    .plp-product-sizes {
      gap: var(--size-8);

      /* width: 100%; */
      width: var(--size-144);
      overflow: hidden;
      flex-wrap: nowrap;
      flex-shrink: 0;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
    }

    .plp-product-size {
      width: var(--size-30);
      height: var(--size-22);
      font-size: var(--size-10);
      line-height: var(--size-22);
      flex-shrink: 0;
    }
  }

  .plp-load-more {
    margin-top: 16px;
  }
}
