@import url('../../styles/reset-rich-text.css');

main > .section:first-of-type {
  margin: 0;
  background: transparent !important;
}

p {
  margin: 0;
  padding: 0;
}

.hero-banner-wrapper {
  max-width: 2560px !important;
  padding: 0 !important;
}

.hero-banner-items-container {
  width: 100vw;
  aspect-ratio: 1440/860;
  list-style: none;
  margin: 0;
  max-width: 2560px !important;
}

.hero-banner {
  position: relative;

  .hero-banner-items-container {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .hero-banner-items::-webkit-scrollbar {
    display: none;
  }
}

.hero-banner-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  &.light {
    color: black;
  }

  .hero-banner-item-image {
    width: 100%;
    height: 100%;

    picture {
      inset: 0;
      width: 100%;
    }

    picture > img {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    p:nth-child(2) {
      display: none;
    }
  }

  .hero-banner-content {
    position: absolute;
    top: 50%;
    left: calc(50% - min(var(--container-max-width), 90vw) / 2);
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: min(var(--size-48), 48px);
  }

  .hero-banner-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-3xs);
  }

  .teal-text {
    color: var(--color-hisense-teal);
    font-weight: var(--fontweight-medium);
    font-size: var(--fontsize-title2);
    margin-top: 0 ;
  }

  .hero-banner-item-content h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: var(--fontsize-pc-h1);
  }

  .hero-banner-item-content.icon-svg {
    width: min(25.27777778vw, 327px);

    picture {
      inset: 0;
      width: 100%;
    }

    picture > img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .hero-banner-cta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-xs);
  }

  .hero-banner-item-cta {
    display: inline-block;

    .button-container {
      font-size: var(--body-font-size-l);
      font-weight: var(--fontweight-medium);
      text-align: center;
      margin: 0 auto;

      .button {
        width: auto;
        display: block;
        padding: var(--spacing-4xs) var(--spacing-pc-md);
        line-height: var(--size-42);
        font-size: var(--fontsize-body2);
        text-align: center;
        background-color: transparent;
        border: 1px solid var(--color-hisense-black);
        color: var(--color-hisense-black);
        margin: 0;
      }

      .button.hisense-green {
        background-color: var(--color-primary-green-60) !important;
        border-color: var(--color-primary-green-60) !important;
        color: var(--color-primary-grey-10) !important;
      }

      .button.hisense-black {
        background-color: var(--color-hisense-black);
        border-color: var(--color-hisense-black);
        color: var(--color-primary-grey-10);
      }

      .button:hover {
        background-color: var(--color-primary-grey-70);
        border-color: var(--color-primary-grey-70);
        color: var(--color-primary-grey-10);
      }

      .button.hisense-green:hover {
        background-color: var(--color-primary-green-40) !important;
        border-color: var(--color-primary-green-40) !important;
        color: var(--color-primary-grey-10) !important;
      }

      .button.hisense-black:hover {
        background-color: var(--color-primary-grey-70);
        border-color: var(--color-primary-grey-70);
        color: var(--color-primary-grey-10);
      }
    }
  }

  .video-play-icon {
    width: var(--size-40);
    height: var(--size-40);
    position: absolute;
    bottom: var(--size-24);
    left: min(11.1111vw, 160px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white-alpha-40, rgb(255 255 255 / 40%));
    border-radius: var(--size-40);
    cursor: pointer;
    z-index: 1;

    &.is-playing {
      background-image: url('/content/dam/hisense/us/common-icons/pause.svg');
    }

    &.is-paused {
      background-image: url('/content/dam/hisense/us/common-icons/play.svg');
    }
  }

  &.dark {
    color: var(--color-primary-grey-10);

    .hero-banner-item-content,
    .hero-banner-item-cta {
      color: var(--background-light);
    }

    .button-container {
      .button {
        color: var(--background-light);
        border-color: var(--background-light);

        &:hover {
          background-color: var(--color-primary-grey-10);
          border-color: var(--color-primary-grey-10);
          color: var(--color-primary-grey-100);
        }
      }
    }

    .video-play-icon {
      background-color: var(--grey-alpha-40, rgb(20 20 20 / 40%));
    }
  }
}

.video-div-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-auto-play {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1440 / 860;
}

.hero-banner-item-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--size-16);
  margin: 0;
  padding: 0;
  height: var(--size-60);
  width: 100%;
  list-style: none;

  button {
    width: var(--size-8);
    height: var(--size-8);
    margin: 0;
    padding: 0;
    background-color: var(--color-hisense-grey-02);
    opacity: 0.4;
    transition: background-color 0.2s;

    &:disabled {
      opacity: 1;
      background-color: var(--color-hisense-grey-02);
      width: var(--size-68);
    }

    &:hover {
      opacity: 1;
    }
  }
}

.hero-banner.dark .hero-banner-item-indicators {
  button {
    background-color: var(--background-light);

    &:disabled {
      background-color: var(--background-light);
    }
  }
}

.hero-banner-navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--size-30);
  right: var(--size-30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.hero-banner-navigation-buttons button {
  position: relative;
  width: var(--size-40);
  height: var(--size-40);
  margin: 0;
  border-radius: 50%;
  padding: 0;
  background-color: var(--white-alpha-30);
  transition: background-color 0.2s;
}

.hero-banner-navigation-buttons button:hover,
.hero-banner-navigation-buttons button:focus-visible {
  background-color: var(--white-alpha-60);
}

.hero-banner-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid;
  border-bottom: 0;
  border-left: 0;
  height: var(--size-12);
  width: var(--size-12);
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hero-banner-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}


.hero-banner.only-picture {
  .hero-banner-items-container {
    max-height: min(44.44444444vw, 640px) !important;

    .hero-banner-item {
      .hero-banner-content {
        height: auto;
        left: calc(50% - min(var(--container-max-width), 100vw) / 2);
      }

      .hero-banner-item-image {
        picture > img {
          object-position: 70% center;
        }
      }

      .hero-banner-item-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size-8);
      }

      .hero-banner-item-cta {
        display: none;
      }
    }
  }
}

@media (width < 860px) {
  .hero-banner  .hero-banner-items-container {
    overflow: scroll;
    aspect-ratio: 390/640;
    max-height: 100dvh;

    &::-webkit-scrollbar{
      display:none
    }

    picture > img {
      object-position: center 35% !important;
    }

    .hero-banner-item {
      .hero-banner-content {
        width: 100%;
        top: auto;
        transform: none;
        font-weight: var(--fontweight-medium);
        bottom: min(13.33333333vw, 8.125vh);
        left: calc(50% - min(var(--container-max-width), 100vw) / 2);
        gap: min(var(--size-30), 4.6875vh);

        .hero-banner-cta-container {
          gap: var(--size-16);
        }

        .teal-text {
          font-size: min(var(--fontsize-title2), 3.125vh);
          line-height: 1.3;
        }

        h1,h2,h3,h4,h5,h6 {
          font-size: min(var(--size-40), 6.25vh);
        }

        .button {
          font-size: min(var(--fontsize-body2), 2.1875vh);
          font-weight: var(--fontweight-medium);
          box-sizing: border-box;
          line-height: min(var(--size-30), 4.6875vh);
          text-align: center;
          padding: min(var(--size-4), 0.625vh) min(var(--size-24), 3.75vh);
        }
      }

      .hero-banner-item-image {
        p:nth-child(1) {
          display: none;
        }
        
        p:nth-child(2) {
          display: block;
        }
      }
    }

    .hero-banner-item-content.icon-svg {
      width: min(70.76923077vw, 39.0625vh);
      margin: auto 0;
    }
  }

  .video-auto-play {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 390/640;
  }

  .hero-banner-item .video-play-icon {
    width: var(--size-36);
    height: var(--size-36);
    border-radius: var(--size-36);
    right: var(--size-24);
    bottom: var(--size-48);
    left: auto;
  }

  .hero-banner.only-picture .hero-banner-items-container{
    max-height: 75vh !important;

    .hero-banner-content {
      line-height: 1.2;
      bottom: 0;
      padding: min(var(--size-42), 6.5625vh) min(var(--size-24), 3.75vh);
      font-size: min(var(--size-34), 5.3125vh);

      .hero-banner-item-content {
        gap: 0;
      }
    }
  }

  .hero-banner .hero-banner-item-indicators {
    height: min(var(--size-36), 5.625vh);
    gap: var(--size-8);

    button {
      height: var(--size-6);
      width: var(--size-6);

      &:disabled {
        width: var(--size-30);
      }
    }
  }

  .hero-banner .hero-banner-navigation-buttons {
    display: none !important;
  }
}

@media (width >= 860px) {
  .hero-banner-items-container.full-screen {
    max-height: 100dvh;
  }
}