.parallax {
  position: relative;
  overflow: hidden;
  text-align: center;

  .scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .sticky-container {
    --container-offset: 78px;

    @media (width >= 860px) {
      --container-offset: 64px;
    }

    @media (width >= 1180px) {
      --container-offset: 100px;
    }

    @supports (height: 100dvh) {
      --container-height: 100dvh;
    }

    @supports not (height: 100dvh) {
      --container-height: 100vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--container-height) - var(--container-offset));
    width: 100%;
    position: sticky;
    overflow: hidden;
  }

  .scroll-image-container img {
    width: auto;
    object-fit: cover;
    height: auto;
    object-position: center;
  }

  .scroll-text-container {
    @supports (height: 100dvh) {
      --text-container-height: 80dvh;
    }

    @supports not (height: 100dvh) {
      --text-container-height: 80vh;
    }

    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 10;
    pointer-events: none;
    padding: 24px 0;

    @media (width >= 860px) {
      padding: 40px 0;
    }

    &.animate {
      position: absolute;
      top: 0;
      justify-content: center;
      height: var(--text-container-height);
    }
  }
}

.parallax-container p {
  margin: 0;
}
