.hero-presence {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 100vh;

  &.animated {
    .hero-presence-video {
      filter: brightness(0.5);
    }

    .hero-presence-animate img {
      opacity: 1;
      transform: translate(-50%, -50%) !important;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.hero-presence-scroll-container {
  overflow: hidden;
  height: 100%;
  position: sticky;
  width: 100%;
}

.hero-presence-video {
  transition: filter 1.5s ease-in-out;
  will-change: filter;
}

.hero-presence-video-play-btn {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 10;
  background: rgb(0 0 0 / 50%);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.d-none {
    display: none;
  }
}

.hero-presence-animate {
  z-index: 2;
  text-align: center;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 150%);
    transition: transform 1.5s ease-in-out;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }
}
