main > .section:first-of-type {
  margin: 0;
  background: transparent !important;
}

.carousel-wrapper {
  max-width: 2560px !important;
  padding: 0 !important;
}

.carousel-items-container {
  width: 100vw;
  aspect-ratio: 1440/860;
  list-style: none;
  margin: 0;
  max-width: 2560px !important;
}

.carousel {
  position: relative;

  .carousel-items-container {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .carousel-items::-webkit-scrollbar {
    display: none;
  }
}

.carousel .carousel-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  &.light {
    color: black;
  }

  .carousel-item-image {
    width: 100%;
    height: 100%;

    picture {
      inset: 0;
      width: 100%;
    }

    picture > img {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    p:nth-child(2) {
      display: none;
    }
  }

  .carousel-content {
    position: absolute;
    height: min(25vw, 327px);
    top: 50%;
    left: calc(50% - min(var(--container-max-width), 90vw) / 2);
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .carousel-item-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .teal-text {
    color: var(--color-hisense-teal);
    font-weight: var(--fontweight-medium);
    line-height: min(1.94444444vw, 28px);
    margin-bottom: min(0.55555556vw, 8px);
    font-size: var(--fontsize-title2);
    margin-top: 0 ;
  }

  .carousel-item-content h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .carousel-item-content.icon-svg {
    width: min(25.27777778vw, 327px);
    aspect-ratio: 1440/860;

    picture {
      inset: 0;
      width: 100%;
    }

    picture > img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .carousel-cta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-xs);
  }

  .carousel-item-cta {
    display: inline-block;

    .button-container {
      font-size: var(--body-font-size-l);
      font-weight: var(--fontweight-medium);
      text-align: center;
      margin: 0 auto;

      .button {
        width: auto;
        display: block;
        padding: var(--spacing-4xs) var(--spacing-pc-md);
        line-height: var(--size-42);
        font-size: var(--fontsize-body2);
        text-align: center;
        background-color: transparent;
        border: 1px solid var(--color-hisense-black);
        color: var(--color-hisense-black);
        margin: 0;
      }

      .button.hisense-green {
        background-color: var(--color-hisense-teal) !important;
        border-color: var(--color-hisense-teal) !important;
        color: var(--color-primary-grey-10) !important;
      }

      .button.hisense-black {
        background-color: var(--color-hisense-black);
        border-color: var(--color-hisense-black);
        color: var(--color-primary-grey-10);
      }

      .button:hover {
        background-color: var(--color-hisense-grey-01);
        border-color: var(--color-hisense-grey-02);
        color: var(--color-primary-grey-10);
      }

      .button.hisense-green:hover {
        background-color: var(--color-hisense-green-01) !important;
        border-color: var(--color-hisense-green-01) !important;
        color: var(--color-primary-grey-10) !important;
      }

      .button.hisense-black:hover {
        background-color: var(--color-hisense-grey-01);
        border-color: var(--color-hisense-grey-01);
        color: var(--color-primary-grey-10);
      }
    }
  }

  &.dark {
    color: var(--color-primary-grey-10);

    .carousel-item-content,
    .carousel-item-cta {
      color: var(--background-light);
    }

    .button-container {
      .button {
        color: var(--background-light);
        border-color: var(--background-light);

        &:hover {
          background-color: var(--color-primary-grey-10);
          border-color: var(--color-primary-grey-10);
          color: var(--color-primary-grey-100);
        }
      }
    }
  }
}

.carousel .carousel-item-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--size-16);
  margin: 0;
  padding: 0;
  height: var(--size-60);
  width: 100%;
  list-style: none;

  button {
    width: var(--size-8);
    height: var(--size-8);
    margin: 0;
    padding: 0;
    background-color: var(--color-hisense-grey-02);
    opacity: 0.4;
    transition: background-color 0.2s;

    &:disabled {
      opacity: 1;
      background-color: var(--color-hisense-grey-02);
      width: var(--size-68);
    }

    &:hover {
      opacity: 1;
    }
  }
}

.carousel.dark .carousel-item-indicators {
  button {
    background-color: var(--background-light);

    &:disabled {
      background-color: var(--background-light);
    }
  }
}

.carousel .carousel-navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--size-30);
  right: var(--size-30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.carousel .carousel-navigation-buttons button {
  position: relative;
  width: var(--size-40);
  height: var(--size-40);
  margin: 0;
  border-radius: 50%;
  padding: 0;
  background-color: var(--white-alpha-30);
  transition: background-color 0.2s;
}

.carousel .carousel-navigation-buttons button:hover,
.carousel .carousel-navigation-buttons button:focus-visible {
  background-color: var(--white-alpha-60);
}

.carousel .carousel-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid;
  border-bottom: 0;
  border-left: 0;
  height: var(--size-12);
  width: var(--size-12);
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel .carousel-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}


.carousel.only-picture {
  .carousel-items-container {
    max-height: 44.44444444vw !important;

    .carousel-item {
      .carousel-content {
        height: auto;
        left: calc(50% - min(var(--container-max-width), 100vw) / 2);
      }

      .carousel-item-image {
        picture > img {
          object-position: 70% center;
        }
      }

      .carousel-item-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size-8);
      }

      .carousel-item-cta {
        display: none;
      }
    }
  }
}

@media (width < 860px) {
  .carousel  .carousel-items-container {
    overflow: scroll;
    aspect-ratio: 390/640;
    max-height: 100dvh;

    &::-webkit-scrollbar{
      display:none
    }

    picture > img {
      object-position: center 35% !important;
    }

    .carousel-item {
      .carousel-content {
        width: 100%;
        top: auto;
        transform: none;
        font-weight: var(--fontweight-medium);
        bottom: min(13.33333333vw, 8.125vh);
        height: min(64.10256410vw, 39.0625vh);
        left: calc(50% - min(var(--container-max-width), 100vw) / 2);

        .carousel-cta-container {
          gap: min(var(--size-16), 16px);
        }

        .teal-text {
          font-size: min(var(--fontsize-body1), 3.125vh);
        }

        h1 {
          font-size: clamp(32px, 4.5vw, 48px);
        }

        .button {
          font-size: min(var(--fontsize-body3), 1.875vh);
          font-weight: var(--fontweight-medium);
          box-sizing: border-box;
          line-height: min(var(--size-32), 5vh);
          text-align: center;
          padding: min(var(--size-4), 0.625vh) min(var(--size-32), 5vh);
        }
      }

      .carousel-item-image {
        p:nth-child(1) {
          display: none;
        }
        
        p:nth-child(2) {
          display: block;
        }
      }
    }

    .carousel-item-content.icon-svg {
      width: min(70.76923077vw, 39.0625vh);
      margin: auto 0;
    }
  }

  .carousel.only-picture .carousel-items-container{
    max-height: 75vh !important;

    .carousel-content {
      line-height: 1.2;
      bottom: 0;
      padding: min(var(--size-42), 6.5625vh) min(var(--size-24), 3.75vh);
      font-size: min(var(--size-34), 5.3125vh);

      .carousel-item-content {
        gap: 0;
      }
    }
  }

  .carousel .carousel-item-indicators {
    height: min(var(--size-36), 5.625vh);
    gap: var(--size-8);

    button {
      height: var(--size-6);
      width: var(--size-6);

      &:disabled {
        width: var(--size-30);
      }
    }
  }

  .carousel .carousel-navigation-buttons {
    display: none !important;
  }
}

@media (width >= 860px) {
  .carousel-items-container.full-screen {
    max-height: 100dvh;
  }
}