
.industrial-cards-wrapper {
  width: 100%;
  margin: 20px auto;
}

.industrial-cards-wrapper p,
.industrial-cards-wrapper h1,
.industrial-cards-wrapper h2,
.industrial-cards-wrapper h3,
.industrial-cards-wrapper h4,
.industrial-cards-wrapper h5,
.industrial-cards-wrapper h6{
  margin: 0;
  padding: 0;
}

.industrial-cards > ul {
  gap: var(--spacing-sm);
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
	grid-template-columns: repeat(2, 1fr);

  @media (width < 860px) {
    grid-template-columns: 1fr;
    font-size: var(--size-24);
  }
}

.industrial-cards > ul > li {
  font-family: var(--font-family);
  border-radius: var(--size-20);
  overflow: hidden;
  position: relative;

}

.industrial-cards-card-body > p,
.industrial-cards-card-body > h6{
  font-size: var(--size-20);

  @media (width >= 860px) {
    font-size: var(--size-24);
  }
}

.industrial-cards-card-body {
 
  text-align: center;
  width: 100%;
  font-style: normal;
}

 ul >li img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);
}




 .industrial-cards-card-body{
  width: 100%;
  text-align: center;
  color: #000;
}




