.globalization-timeline {
  p {
    margin: 0;
  }

  .timeline-phase-text-container {
    display: flex;
    justify-content: space-evenly;

    .timeline-phase-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 12px;

      p:first-child {
        font-size: 26px;
        color: var(--color-hisense-teal);
      }

      p:last-child {
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid #18685F;
        padding: 8px 20px;
        text-align: center;
        border-radius: 80px;
        color: #18685F;
      }
    }
  }

  .timeline-phase-image-container {
    display: flex;
    align-items: flex-end;
  }
}
