
.core-value-card-wrapper {
  width: 100%;
  margin: 20px auto;
}

.core-value-card-wrapper p,
.core-value-card-wrapper h1,
.core-value-card-wrapper h2,
.core-value-card-wrapper h3,
.core-value-card-wrapper h4,
.core-value-card-wrapper h5,
.core-value-card-wrapper h6{
  margin: 0;
  padding: 0;
}

.core-value-card > ul {
  gap: var(--spacing-sm);
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
	grid-template-columns: repeat(2, 1fr);

  @media (width < 860px) {
    grid-template-columns: 1fr;
    font-size: var(--size-24);
  }
}

.core-value-card > ul > li {
  font-family: var(--font-family);
  border-radius: var(--size-20);
  overflow: hidden;
  position: relative;

}

.core-value-card .card-body > p,
.core-value-card .card-body > h6{
  font-size: var(--size-20);

  @media (width >= 860px) {
    font-size: var(--size-24);
  }
}

.core-value-card .card-body {
  width: 100%;
  text-align: center;
  color: #000;
}

 ul >li img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);
}




