.image-comparison-slider {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    user-select: none;
    pointer-events: none;
    object-fit: cover;
  }

  .before-after-wrapper {
    width: 100%;
    position: relative;
  }

  .dragger {
    z-index: 2;
    width: 2px;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    row-gap: 32px;
  }

  .dragger-line {
    width: 100%;
    background-color: var(--color-white);
    height: 50%;
  }

  .dragger-inner {
    width: 32px;
    height: 32px;
    background-color: rgb(255 255 255 / 50%);
    border: 2px solid var(--color-white);
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 32px;
  }

  .dragger-icon::after {
    display: block;
    content: '';
    border: 2px solid;
    border-bottom: 0;
    border-left: 0;
    height: 6px;
    width: 6px;
    position: absolute;
    top: 50%;
  }

  .dragger-icon-left::after {
    left: calc(50% - 4px);
    transform: translate(-50%, -50%) rotate(-135deg);
  }

  .dragger-icon-right::after {
    left: calc(50% + 4px);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-l);

    &.is-before {
      aspect-ratio: 16 / 9;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }

    &.is-after {
      aspect-ratio: 16 / 9;
      clip-path: inset(0 0 0 50%);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-flow: column;
    }
  }

  /* Framed variant */

  .image-comparison-slider.framed {
    .dragger {
      top: auto;
      bottom: auto;
      height: auto;
    }

    .image-wrapper.is-after {
      clip-path: inset(0 0 0 50%);
    }
  }

}
