/* plp-product-filter-tag styles */

.plp-sidebar {
    width: min(calc(262 / var(--breakpoint-pc) * 100vw), 262px);
    flex-shrink: 0;
    padding: var(--size-16) var(--size-20);
    border-radius: var(--size-20);
    background: #fff;
}

.plp-filter-group {
  padding: var(--size-14) 0;
  overflow: hidden;
}

.plp-filter-list {
  list-style: none;
  margin: var(--size-10) 0 0;
  padding: 0 0 0 var(--size-14);
  transition: max-height .36s ease-in-out;
  max-height: min(calc(200 / var(--breakpoint-pc) * 100vw), 200px);;
}

.plp-filter-group.hide .plp-filter-list {
  max-height: var(--size-2);
  overflow: hidden;
}

.plp-filter-group .plp-filter-title img {
  transition: transform .36s cubic-bezier(0, 0.18, 0.07, 1), -webkit-transform .36s cubic-bezier(0, 0.18, 0.07, 1);
  width: var(--size-20);
  height: var(--size-20);
}

.plp-filter-group.hide .plp-filter-title img {
  transform: rotate(180deg);
}

.plp-filter-group:not(:last-child) {
  border-bottom: 1px solid rgb(165 225 225 / 100%);
}

/* title row */

.plp-filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  padding: 0 var(--size-16);
  font-size: var(--size-14);
}

.plp-filter-title span {
  font-weight: 500;
  font-size: 14px;
}

/* tags list */

.plp-filter-title.hide .plp-filter-list{
  display: none;
}

.plp-filter-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: var(--size-8);
  font-size: var(--size-14);
  height: var(--size-24);
  font-weight: var(--fontweight-book);

  &:last-child {
    margin-bottom: 0;
  }
}

.plp-filter-item span {
  font-size: var(--fontsize-body2);
  line-height: 1;
  display: inline-block;
  color: rgb(51 51 51 / 100%);
  font-weight: var(--fontweight-book);
}

.plp-filter-item input[type="checkbox"],
.plp-filter-item input[type="radio"]{
  appearance: none;
  outline: none;
  border: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.plp-filter-item .input-icon {
  width: var(--size-24);
  height: var(--size-24);

  img {
    width: 100%;
    height: 100%;
  }
}

.plp-filter-item input:checked + .input-icon .icon-unchecked {
  display: none;
}

.plp-filter-item input:not(:checked) + .input-icon .icon-checked {
  display: none;
}

.plp-filter-item label {
  position: relative;
  cursor: pointer;
  color: var(--color-primary-grey-70);
  font-size: var(--fontsize-body2);
}

.plp-filter-item label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.plp-filter-item input[type="checkbox"]:checked + label::before {
  border-color: #009F9C;
  background-color: #009F9C;
}

.plp-filter-item input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 3.5px;
  height: 7.5px;
  border-radius: 1px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}

.plp-mobile-filters-tit-box {
  display: none;
}

@media (width < 860px) {
  .plp-product-filter-tag-wrapper {
    position: fixed;
    inset: 0;
    background: #fff;
    overflow: hidden;
    padding: 14px !important;
    z-index: 1000000 ;
    top: -100vh;
    height: 100vh;
    transition: top .5s cubic-bezier(0, 0.18, 0.07, 1), padding .5s cubic-bezier(0, 0.18, 0.07, 1);
    

    .plp-sidebar {
      padding: 0;
      width: 100%;
    }
  }

  .mobile-filter-show {
    /* padding-top: 14px !important; */
    top:0;

    .plp-sidebar {
      height: calc(100vh - 70px);
      overflow-y: auto;
      scroll-behavior: smooth;
    }
  }

  .plp-mobile-filters-tit-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .mobile-filter-close {
      cursor: pointer;

      img {
        position: relative;
        top: 8px;
      }
    }
  }
}