/* PLP Product Filters */

.plp-product-filters .plp-filters-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.plp-product-filters .plp-filters-left {
  display: flex;
  align-items: center;
  gap: var(--size-24);
}

.plp-product-filters .plp-results-box {
  /* width: 110px; */
  padding-left: var(--size-12);
  height: var(--size-24);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.plp-product-filters .plp-results {
  font-size: var(--size-14);
  font-weight: var(--fontweight-book);
  color: rgb(0 0 0 / 100%);
}

.plp-product-filters .plp-active-filters {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-8);
}

.plp-product-filters .plp-filter-tag {
  display: flex;
  align-items: center;
  gap: var(--size-8);
  padding: 0 var(--size-8);
  background: #fff;
  border-radius: var(--size-12);
  font-size: var(--size-12);
  height: var(--size-24);
  line-height: var(--size-24);
  font-weight: var(--fontweight-book);
}

.plp-product-filters .plp-filter-tag-close {
  cursor: pointer;
  font-size: var(--size-16);
  color: var(--color-primary-grey-50);
}

.plp-product-filters .plp-reset-filters {
  color: rgb(0 0 0 / 100%);
  border-bottom: 1px solid rgb(0 0 0 / 100%);
  height: var(--size-18);
  line-height: var(--size-18);
  font-size: var(--size-12);
  font-weight: var(--fontweight-book);
  cursor: pointer;
  flex-shrink: 0;
}

.plp-product-filters .plp-sort-box {
  position: relative;
  min-width: min(calc(184 / var(--breakpoint-pc) * 100vw), 184px);;
  height: var(--size-40);
  flex-shrink: 0;
}

.plp-product-filters .plp-sort {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: var(--size-14);
  background: #fff;
  border-radius: 100px;
  padding: 0 var(--size-20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 4;
  font-weight: var(--fontweight-book);
  box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
}

.plp-product-filters .plp-sort span {
  white-space: nowrap;
  margin-right: 8px;
}

.plp-product-filters .plp-sort .sort-arrow {
  transform: rotate(180deg);
  transition: transform .36s cubic-bezier(0, 0.18, 0.07, 1), -webkit-transform .36s cubic-bezier(0, 0.18, 0.07, 1);
}

.plp-product-filters .plp-sort-box.show .sort-arrow {
  transform: rotate(0);
}

.plp-product-filters .plp-sort-options {
  top: 0;
  left: 0;
  position: absolute;
  background: #fff;
  width: 100%;
  flex-direction: column;
  padding: 0 16px 12px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
  font-size: 12px;
  font-weight: 400;
  gap: 8px;
  z-index: 2;
  border-radius: 20px;
  transition: all .5s cubic-bezier(0, 0.18, 0.07, 1);
  visibility: hidden;
  overflow: hidden;
  max-height: 40px;
}

.plp-product-filters .plp-sort-box.show .plp-sort-options {
  display: flex;
  max-height: 160px;
  visibility: visible;
  padding-top: 52px;
}

.plp-product-filters .plp-sort-option {
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  color: rgb(102 102 102 / 100%);
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
}

.plp-product-filters .plp-sort-option.selected {
  font-weight: 500;
}

.plp-product-filters .plp-sort-options .plp-sort-option:hover {
  color: #000;
  font-weight: 500;
}

/* 编辑模式样式，尽量保持与浏览模式一致的UI */
.plp-product-filters[data-aue-resource] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.plp-product-filters[data-aue-resource] > div[data-aue-resource] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 10px;
  background: #fff;
  border-radius: 20px;
  font-size: 12px;
  height: 24px;
  flex-shrink: 0;
}


.mobile-plp-filters-bar, .mobile-sort-by-close {
  display: none;
}

@media (width <= 860px) {
  .mobile-filter-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    margin-left: 12px;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-right: 8px;
    }

    span {
      position: relative;
      top: 2px;
    }
  }

  .plp-product-filters {
    .plp-filters-left {
      display: none;
    }

    .mobile-plp-filters-bar {
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    /* PC端的 sort by 带arrow 箭头dom, 在移动端展示为全屏中的标题 */
    .plp-sort-box {
      position: fixed;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: -100vh;
      transition: top .5s cubic-bezier(0, 0.18, 0.07, 1);
      z-index: 1000;
      background: #fff;

      .plp-sort {
        box-shadow: none;
        margin-bottom: 16px;
        height: 40px;

        .sort-arrow {
          display: none;
        }
      }

      .mobile-sort-by-close {
        display: block;
      }

      .plp-sort-options {
        box-shadow: none;
        padding-left: 40px;
        padding-top: 70px;
        border-radius: 0;
        display: block;
        visibility: visible;
        max-height: 100vh;
        transition: none;

        .plp-sort-option {
          line-height: 34px;
          height: 34px;
          margin-bottom: 8px;
        }
      }
    }

    .mobile-plp-sort {
      /* width: 131px; */
      height: 40px;
      border-radius: 20px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 28px;
      padding-right: 20px;
      font-size: 14px;
      cursor: pointer;

      span {
        white-space: nowrap;
        margin-right: 8px;
      }

      img {
        transform: rotate(180deg);
      }
    }

    .mobile-sort-by-box {
      border-radius: 0;
      padding: 14px;
      top: 0;
    }
  }

}

