.icon-display-wrapper{
  width: 100%;
}


.icon-display-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:  var(--spacing-md);
  color: white;
  flex-wrap: wrap; 
  

  @media (width >= 860px) {
    gap: var(--spacing-xl);
  }
}

.top-space .icon-display-box{
    margin-top: var(--spacing-sm);

    @media (width >= 860px) {
        margin-top: var(--spacing-s2);
    }
     
}

.bottom-space .icon-display-box{
    margin-bottom: var(--spacing-sm);

    @media (width >= 860px) {
        margin-bottom: var(--spacing-s2);
    }
}

.icon-display-item {
    display: flex;
    align-items: center;
    gap: var(--size-8);
}

.icon-display-item .icon-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-center .icon-display-item .icon-text{
    justify-content: center;
}

.icon-display-item .icon-text:first-child,
[data-aue-prop = "title"]{
    font-size: var(--size-16);
    line-height: var(--size-20);

     @media (width >= 860px) {
        font-size: var(--size-24);
        line-height: 120%;
    }

}

.icon-display-item .icon-text:nth-child(2),
[data-aue-prop = "sub-title"]{
    font-size:  var(--size-10);
    line-height: var(--size-20);

    @media (width >= 860px) {
        font-size: var(--size-16);
    }

}


.icon-display-item .icon-image img{
    height: var(--size-40);
    width: auto;

    @media (width >= 860px) {
         height: var(--size-50);
    }
}

.large-icon.icon-display-item .icon-image img{
   @media (width >= 860px) {
         height: var(--size-88);
    }
}

.fixed-width .icon-display-box{
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-sm);

    @media (width >= 860px) {
        gap: var(--spacing-xl);
        flex-flow: row nowrap;
        align-items: center;

    }
}

.fixed-width .icon-display-box .icon-display-item{
    @media (width >= 860px) {
       flex-direction: column;
    }
   
}

.fixed-width .icon-display-box .icon-text{
     @media (width >= 860px) {
        justify-content: center;
        align-items: center;
    }
   
}

.fixed-width .icon-display-item .icon-image{
    width: var(--size-60);
}

p{
    margin: 0;
}