.icon-display-wrapper{
  width: 100%;
}


.icon-display-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  color: white;
}

.top-space .icon-display-box{
    margin-top: 40px;
}

.bottom-space .icon-display-box{
    margin-bottom: 40px;
}

.horizontal-center .icon-display-box{
    justify-content: center;
}

.horizontal-full .icon-display-box{
    justify-content: space-between;
}

.vertical-display .icon-display-box{
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.horizontal-center.vertical-display{
     align-items: center;
}

.icon-display-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-display-item .icon-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-left .icon-display-item .icon-text{
    justify-content: center;
}
.icon-display-item .icon-text:first-child{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.icon-display-item .icon-text:nth-child(2){
    font-size: 10px;
    line-height: 20px;
    font-weight: 300;
}


.icon-display-item .icon-image img{
    height: 40px;
    width: auto;
}

.fixed-width .icon-display-item .icon-image{
    width: 60px;
}

p{
    margin: 0;
}