.icon-display-wrapper{
  width: 100%;
}


.icon-display-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  color: white;
}

.center .icon-display-box{
    justify-content: center;
}

.full .icon-display-box{
    justify-content: space-between;
}

.left .icon-display-box{
    justify-content: flex-start;
}



.icon-display-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-display-item .icon-text{
    display: flex;
    align-items: center;
}

.icon-display-item .icon-text:first-child{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.icon-display-item .icon-text:nth-child(2){
    font-size: 10px;
    line-height: 20px;
    font-weight: 300;
}


.icon-display-item .icon-image img{
    height: 40px;
    width: auto;
}

.Fixed .icon-display-item .icon-image img{
    height: 40px;
    width: 60px;
}

p{
    margin: 0;
}