.icon-display-wrapper{
  width: 100%;
}
.icon-display-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.icon-display-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-display-item .icon-image{
    height: 40px;
    width: auto;
}