
/* 这个是为了大家方便理解和复制用的，需要把class里的变量和clamp,cv到自己的css中，然后修改这俩变量即可 */
.test-demo {
  --font-size-small: 24px; /* 390时的 */
  --font-size-normal: 48px; /* 860时的 */
  --font-size-large: 96px; /* 1180时的 */

  font-size: clamp(
          var(--font-size-small),
          max(min(calc(var(--font-size-small) + (100vw - var(--breakpoint-small)) * (var(--font-size-normal) - var(--font-size-small)) / (var(--breakpoint-normal) - var(--breakpoint-small))), var(--font-size-normal)), min(calc(var(--font-size-normal) + (100vw - var(--breakpoint-normal)) * (var(--font-size-large) - var(--font-size-normal)) / (var(--breakpoint-large) - var(--breakpoint-normal))), var(--font-size-large))),
          var(--font-size-large)
  );
}

/* 我觉得可以在这里根据配置列表定制多个class，开发直接用对应class引用即可 */
.test-demo2 {
  --font-size-small: 24px; /* 390时的 */
  --font-size-normal-mobile: 36px; /* 860时的手机 */
  --font-size-normal: 48px; /* 860时的 */
  --font-size-large: 96px; /* 1180时的 */

  font-size: clamp(
          var(--font-size-normal),
          calc(
                  var(--font-size-normal) +
                  (100vw - var(--breakpoint-normal))
                  * (var(--font-size-large) - var(--font-size-normal))
                  / (var(--breakpoint-large) - var(--breakpoint-normal))
          ),
          var(--font-size-large)
  );

  @media (width < 860px) {
    font-size: clamp(
            var(--font-size-small),
            calc(
                    var(--font-size-small) +
                    (100vw - var(--breakpoint-small))
                    * (var(--font-size-normal-mobile) - var(--font-size-small))
                    / (var(--breakpoint-normal) - var(--breakpoint-small))
            ),
            var(--font-size-normal-mobile)
    );
  }
}